.description h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 47px;
    color: #373b3f;
}

#landingpagecaption {
    margin-top: 25%;
}

#landingpageimage {
    margin-top: 25%;
}