#nav-bar {
    background-color:#2f3133;
}

.navbarbuttons {
    background-color:#c6002b;
    border-color: #000000;
    margin-right: 10px;
    color:rgb(238, 238, 238);
}

.navbarbuttons:hover {
    border-color:#000000;
    background-color: #2f3133;
}

#nav-brand {
    color:  rgb(238, 238, 238);
}

#landingPageLink {
    text-decoration: none;
    color: aliceblue;
}